@model SimpleTwitterApp.UI.Models.TweetModel

@{
    ViewBag.Title = "AddTweet";
}

<h2>AddTweet</h2>

<section>
    <div class="container">
        <div class="row">
            <div class="col-md-7">
                <form method="post" action="@Url.Action("Post", "Tweet")">
                    @Html.HiddenFor(m => m.UserId)
                    @Html.TextAreaFor(m => m.TweetContent)
                    <button class="btn-success" type="submit">Add Tweet</button>
                </form>
            </div>
        </div>
    </div>
</section>
