@model SimpleTwitterApp.UI.Models.TweetCompositeViewModel

<section>
    <div class="container">
        <div class="row">
            <div class="col-md-7">
                @Html.Partial("~/Views/Tweet/Tweets.cshtml", Model.Tweets)
            </div>
            <div class="col-md-5">
                @Html.Partial("~/Views/Tweet/Users.cshtml", Model.Users)
            </div>
        </div>
    </div>
</section>


