@model List<SimpleTwitterApp.UI.Models.TweetModel>

<div class="list-group">
    @foreach (var item in Model)
    {
        <div class="list-group-item">
            <div class="row">
                <div class="list-group-item-heading">@item.TweetContent</div>
            </div>
            <div class="row">
                <div class="list-group-item-text">@item.TwittedBy</div>
                <div class="list-group-item-text">@item.TweetTime</div>
            </div>
        </div>
    }
</div>

