@model List<SimpleTwitterApp.UI.Models.TweetModel>

<h2>Tweets</h2>

<div class="list-group">
    @foreach (var item in Model)
    {
        <div class="list-group-item">
            <div class="list-group-item-heading">@item.TweetContent</div>
            <div class="list-group-item-text">@item.TweetTime</div>
        </div>
    }
</div>

