@model List<SimpleTwitterApp.UI.Models.UserModel>

<h2>Users</h2>

<div class="list-group">
    @foreach (var item in Model)
    {
        <div class="list-group-item">
            <div class="list-group-item-heading">
                <a href="@Url.Action("AddTweet", "Tweet", new { username = item.Username })">@item.Username</a>
            </div>
            <div class="row">
                <div class="list-group-item-text">@item.FullName</div>
            </div>
        </div>
    }
</div>

